---
layout: base-home.njk
section: home
---
<div class="home-page">
	<div class="home-page__bg-square"></div>

  {# Hero #}
  <div class="hero">
    <div class="hero__col">
      <h1 class="hero__title gradient-text">{{ home.statement }}</h1>
      {% if home.body %}
        <div class="hero__body">{{ home.body | markdown | safe }}</div>
      {% endif %}
    </div>
    <div class="hero__col">
      {% Image
        home.image,
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image shadow",
        "eager"
      %}
      {% Image
        home.image2,
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image2 shadow",
        "eager"
      %}
      {% Image
        home.image3,
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image3 shadow",
        "eager"
      %}
    </div>
  </div>

</div>
