<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "partials/head.njk" %}

	<body>
		{% include "partials/site-header-home.njk" %}

		<main>
			{{ layoutContent | safe }}
		</main>
	</body>

</html>
