<footer class="site-footer">
  <small>
    Website built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>.
    based on <a href="https://fernfolio.netlify.app/" target="_blank">Fernfolio</a>.
  </small>
</footer>